<div class="container">
<mat-card class="contact-card">


  <div class="contenedor">

    <h1>Registro de motivos</h1>


    <mat-form-field>
      <input matInput [(ngModel)]="motivo.nombre" type="text" placeholder="Ingrese el nombre">
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="motivo.descripcion" type="text" placeholder="Ingrese la descripción">
    </mat-form-field>

    <div>

      <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>

    </div>

  </div>

</mat-card>
</div>
