<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://caracoltv.brightspotcdn.com/dims4/default/d413f5e/2147483647/strip/true/crop/1000x716+0+0/resize/1000x716!/format/webp/quality/90/?url=https%3A%2F%2Fcaracol-brightspot.s3-us-west-2.amazonaws.com%2Fassets%2Fbluradio%2Fsisben_foto_sisben_1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">NUMERO 3</h5>
    <p class="card-text">su turno esta asignado para las 3pm a 3:15 pm</p>
    <a href="#" class="btn btn-primary">regresar al inicio</a>
  </div>
</div>

